.about-corona {
  height: 80vh;

  &__hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    span {
      display: block;
      font-weight: 700;
    }
  }

  h2 {
    color: var(--color-secondary);
  }

  &__section-2 {
    .img-fluid {
      width: 80% !important;
    }

    h4 {
      color: var(--color-secondary);
    }

    h2 {
      color: var(--color-font);
    }
  }
}
