*:root {
  // background color #4c84fc
  --color-font: #003152;
  --color-font-light: #67a7ce;

  --color-primary: #0e3741;
  --color-primary-light: #4c84fc;
  // --color-secondary: #94d283;
  --color-secondary: #f2a104;
  // --color-secondary: #72a210; good
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans" sans-serif;
  // background-color: #f7f7f7;
  font-weight: 400;
  // color: #555;
  color: var(--color-font);

  height: 90vh;
}

.flourish-credit {
  display: none;
}
